<%- include('inc/header.ejs') %>

<section>
    <h1>Firma</h1>
    <p>Wählen Sie bitte den gewünschten Service aus</p>
    <div>
        <a href="/dienstleistungen/index">
            <h3>Dienstleistungen</h3>
        </a>
        <a href="/umzug/index">
            <h3>Umzugsservice</h3>
        </a>
    </div>
</section>

<%- include('inc/footer.ejs') %>