<%- include('../inc/header.ejs') %>

<section>
    <form action="/dienstleistungen/expressformular" method="GET">
        <h1>Dienstleistungen</h1>
        <button type="submit">Express Formular</button>
    </form>
</section>

<%- include('../inc/footer.ejs') %>

